.header {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    position: fixed;
    min-height: 70px;
    background: rgb(121, 9, 155);
    font-size: 35px;
    font-weight: bolder;
    padding: 20px;
    font-family: sans-serif;
}

.title {
    float: left;
}

.instructions {
    padding-top: 10px;
    font-size: 20px;
}

.scores {
    float: right;
}